# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Archivos de IDEs
.vscode/
.idea/

# Logs y bases de datos locales
*.log
*.sqlite3

# Distribución / empaquetado
build/
dist/
*.egg-info/

# Archivos del sistema
.DS_Store
Thumbs.db
